

@media only screen and (max-width: 600px) {
    h2.index {
        font-size: 1.5em !important;
    }
}/*
VELG brus
*/
body.velg{
  background: #2b5e5c;
  font-family: 'Roboto', sans-serif;
}
h1.velg{
  color:white;
  font-size:44px;
  text-align:center;
}
.login{
  font-weight:bold;
  font-size:22px;
  position: absolute;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
  color:white;

}
/*
BETAL
*/
input[type=text] {
    padding:10px 40px;
    background: #2f6260;
    color:white;
    border:none;
}
input[type=text]::placeholder {
    color:white;
}
input[type=text]:focus {
    color:white;
}

body.betal{
  background: #2b5e5c;
  font-family: 'Roboto', sans-serif;
}
h1.betal{
  color:white;
  font-size:44px;
  text-align:center;
}
/*
INDEX
*/
body.index{
  background: #38ada9;
  font-family: 'Roboto', sans-serif;
}
html{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); /* IE 9 */
  -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}
h1.index{
  color:#326a68;
  font-size:60px;
  text-align:center;
}
h2.index{
  color:#326a68;
  font-size:44px;
  text-align:center;
}
.btn-green{
  border-radius: .2em;
  color:white;
  display:inline-block;
  background:#00ff12;
  padding:15px 20px;
  font-size:60px;
}
a:link{
  text-decoration: none;
}
.btn-small-green{
  border-radius: .2em;
  color:white;
  display:inline-block;
  background:#00ff12;
  padding:5px 10px;
  font-size:22px;
}
