body{
  background-color:#F2F7FF;
  font-family: 'Roboto', sans-serif;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#FFFFFF;
    font-weight:300;
    overflow: hidden;
}
.content2{
  background-color: white;
  padding:25px;
  color:#b8bfc3;
}
.content{
  background-color: #fafcff;
  padding:25px;
  color:#b8bfc3;
}
.logo{
  color:#1798e5 !important;
  font-weight:bold;
}
li {
    float: left;
}
h1{
  color:#5b636d;
  font-size:20px;
}
.title{
  font-weight:bold;
  color:#5b636d;
}
#line{
  width: 100%;
  border-bottom: 1px solid #dce0e3;
  position: absolute;
}
h2{
  color:#a0a8a2;
  font-size:13px;
}
a.logo:link{
  text-decoration:none !important;
  color:#d2d7dd !important;
}
li.logo a {
    display: block;
    padding: 25px 25px;
    transition: 0.2s;
}
li a {
    display: block;
    padding: 25px 25px;
    transition: 0.2s;
}
.active{
  background-color:#fafcff;
  color:#7a858e !important;
}
li a:hover{
  background-color:#fafcff;
  color:#7a858e;
}
a:link{
  text-decoration:none !important;
  color:#d2d7dd;
}
a:visited{
  text-decoration: none !important;
}
.container{
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}
