body {
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
td {
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
}
a {
	font-family: Verdana;
	font-size: 10px;
	color: #000000;
}
a:link {
	text-decoration: none;
	font-weight: bold;
}
a:visited {
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: none;
	font-weight: bold;
	color: #606060;
}
a:active {
	text-decoration: none;
	font-weight: bold;
}
.title {
	font-family: verdana;
	font-size: 10px;
	color: #2D6695;
	font-weight: bold;
}
.desc {
	font-family: verdana;
	font-size: 10px;
	color: #2D6695;
	font-style: italic;
}