body{
  background-color:#4746db;
  background-image: url(https://flatuicolors.com/static/img/stars-opacity.0979c1.svg);
  margin:0;
  font-family: museo-sans, sans-serif;
  font-style: normal;
  font-weight: 700;
}
.step1{
  font-size:17px;
  color:white;
  width:100%;
  font-weight:normal;
  padding: 10px 5px;
  border-radius:.5em;
  background-color:#5352ed;
}
.wrapper{
  margin-left:auto;
  margin-right:auto;
}
.valg-content{
  background-color:#5352ed;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
  min-height:100%;
  border-radius:.3em;
  padding: 15px;
}
.valg{
  width:28.2%;
  border-radius: .3em;
  background-color:white;
  margin-top:25px;
  color:white;
  padding-left:7px;
  padding-right:7px;
  padding-bottom:12px;
  padding-top:7px;
	float:left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
  margin-right:5%;
}
/*
om du vil ha store bokser,
legg til:
(text)height:30px;
(valg)150px;
translatey(74px)
*/
.text{
  color:#5352ed;
  line-height:20px;
}
#icon{
  float:right;padding-right:10px;color:#5352ed;
}
.container{
  max-width:900px;
  margin-left:auto;
  margin-right:auto;
}
header{
  padding: 25px 25px;
  color:white;
  font-size:30px;
  margin-bottom:25px;
  background-color: #5352ed;
}
.slogan{
  opacity:0.6;
  font-size:18px;
}
